.dashboard-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
  
  .file-input {
    margin-bottom: 20px;
  }
  
  .background-gif {
    background-image: url('/public/cycle.gif'); /* Use absolute path */
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
  }